{% extends 'base.html.twig' %}

{% block title %}Conversion History{% endblock %}

{% block body %}
    <div class="flex flex-row min-h-screen justify-center items-center">
        {% if history is not empty %}
            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3" colspan="3">Uploaded File Details</th>
                        <th scope="col" class="px-6 py-3" colspan="4">Converted File Details</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th scope="col" class="px-6 py-3">Name</th>
                        <th scope="col" class="px-6 py-3">Size</th>
                        <th scope="col" class="px-6 py-3">Format</th>
                        <th scope="col" class="px-6 py-3">Name</th>
                        <th scope="col" class="px-6 py-3">Size</th>
                        <th scope="col" class="px-6 py-3">Format</th>
                        <th scope="col" class="px-6 py-3">Conversion Date</th>
                        <th scope="col" class="px-6 py-3"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for conversion in history %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ conversion.uploadedFileName }}
                            </th>
                            <td class="px-6 py-4">
                                {{ conversion.uploadedFileSize }}
                            </td>
                            <td class="px-6 py-4">
                                {{ conversion.uploadedFileFormat }}
                            </td>
                            <td class="px-6 py-4">
                                {{ conversion.nameToSaveAs }}
                            </td>
                            <td class="px-6 py-4">
                                {{ conversion.convertedFileSize }}
                            </td>
                            <td class="px-6 py-4">
                                {{ conversion.convertedFileFormat }}
                            </td>
                            <td class="px-6 py-4">
                                {{ conversion.conversionDate | date('l F jS, Y') }}
                            </td>
                            <td class="px-6 py-4 text-right">
                                <a href="{{ url('app_conversion_result', { id:conversion.id }) }}"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Download</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">No conversions yet</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">You haven't uploaded any files for
                    conversion yet.</p>
                <a href="{{ url('app_conversion_index') }}"
                   class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Get started
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

