<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% set activeMenuItem = 'inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500 text-white' %}
    {% set defaultMenuItem = 'inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3' %}

    <ul class="flex flex-row justify-center p-6">
        <li class="mr-6">
            <a class="{{ app.current_route is same as 'app_conversion_index' ? activeMenuItem : defaultMenuItem }}" href="{{ url('app_conversion_index') }}">Home</a>
        </li>
        <li class="mr-6">
            <a class="{{ app.current_route is same as 'app_conversion_history' ? activeMenuItem : defaultMenuItem }}" href="{{ url('app_conversion_history') }}">Conversion history</a>
        </li>
    </ul>

{% block body %}{% endblock %}
</body>
</html>

